@-webkit-keyframes SpawnText{
    0%{
        font-size: 0px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        
    }
    100%{
        font-size: 40px;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

}
.SpawnWords{
    -webkit-animation: forwards SpawnText 1s 1;
    animation: forwards SpawnText 1s 1;
}
@-webkit-keyframes DestroyText{
    0%{
        font-size: 40px;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100%{
        font-size: 0px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
.DestroyWords{
    -webkit-animation: forwards DestroyText 1s 1;
    animation: forwards DestroyText 1s 1;
}
@-webkit-keyframes SpawnClicker{
    0%{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
.SpawnButton{
    -webkit-animation: forwards SpawnClicker 1s 1;
    animation: forwards SpawnClicker 1s 1;
}
@-webkit-keyframes DestroyClicker{
    0%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100%{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
.DestroyButton{
    -webkit-animation: forwards DestroyClicker 1s 1;
    animation: forwards DestroyClicker 1s 1;
    
}

@-webkit-keyframes ClickAnim{
    0%{
        -webkit-transform: translateY(0%);    
        transform: translateY(0%);    
    }
    10%{
        -webkit-transform: translateY(10%);    
        transform: translateY(10%);    
    }
    50%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    90%{
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100%{
        -webkit-transform: translateY(0%);    
        transform: translateY(0%);    
    }
}
.click_on_btn{
    
    -webkit-animation: ClickAnim 0.5s;
    animation: ClickAnim 0.5s;
}
@-webkit-keyframes SpawnLetter{
    0%{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.SpawnPanel{
    -webkit-animation: forwards SpawnLetter 1s 1;
    animation: forwards SpawnLetter 1s 1;
}
